<mat-form-field>
  <mat-label>Selecciona un rango predefinido</mat-label>
  <mat-select (selectionChange)="onPredefinedRangeSelect($event.value)">
    <mat-option [value]="'lastWeek'">Última semana</mat-option>
    <mat-option [value]="'lastMonth'">Último mes</mat-option>
    <mat-option [value]="'lastYear'">Último año</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Selecciona el rango de fechas</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Fecha inicial">
    <input matEndDate formControlName="end" placeholder="Fecha final">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
